<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p th:text="${user.getId()}"> VALUE </p>
<p th:text="${user.getName()}"> VALUE </p>
<p th:text="${user.getAge()}"> VALUE </p>
<p th:text="${user.getEmail()}"> VALUE </p>

<br/>
<a th:href="@{/admin/{id}/edit (id=${user.getId()})}">Edit</a>
<br/>
<br/>
<form method="post" th:action="@{/admin/{id}/delete (id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<hr/>
<br/>

<a href="/admin"> Back to all users</a>

<a href="#" th:href="@{/logout}">Log Out</a>


</body>
</html>